div, img {
  width: 900px;
}
main {
    margin: 0px 200px 0 200px;
}
img {
  margin-bottom: 40px;
}
h1, h2 {
  color: #222;
  font-family: 'Abril Fatface', cursive;
}
h1 {
  position: absolute;
  top: 190px;
  left: 210px;
  font-size: 47px;
}
h2 {
    position: absolute;
    top: 170px;
    left: 210px;
}
h3 {
  text-transform: uppercase;
      color: #222;
    font-family: 'Josefin Sans', sans-serif;
}
h4 {
    margin-bottom: 7px;
     color: #222;
    font-family: 'Josefin Sans', sans-serif;
}
h5 {
    font-family: 'Merriweather', serif;
    margin-top: 0px;
     line-height: 0;
}
main, ul {
    color: #222;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.7;
}
section {
  background: #4C4C4C;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 15px;
  padding: 0px 0px 1px 0px;
  font-size: 26px;
  margin: 0px 0px;
}
blockquote::before {
  content: '”';
  font-size: 40pt;
}
p, ul {
  color: #222;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.7;
  margin: 0 0px;
  font-size: small;
}
hr {
  height: 1pt;
  background: black;
}